.panel{
    padding:4vh 0% 4vh;
    .inside-panel{
        height: 7vh;
        #panel-icon-left{
         font-size: 4vh;
         float: left;
         padding: 0.7% 1% 0.7% 0px;
         #hebrow &{
             float: right;
         }
     }
     #panel-icon-right{
        font-size: 4vh;
        float: right;
        padding: 0.7% 0px;
        #hebrow &{
            float: left;
        }
     }
       
         #profil-pic{
         float: left;
         height: 7vh;
         border-radius: 50px;
         margin: 0px 1.5% 0px 3%;
         #hebrow &{
             float: right;
             margin: 0px 3% 0px 1.5%;
         }
         }
         #profil-title{
            float: left;
            margin-left: 0.1%;
            #user-name{
                font-weight: bold;
            }
            #hebrow &{
                float: right;
                margin-left: 0%;
                margin-right: 0.1%;
               text-align: right;
            }
        }    
    } 
   
    #big-img{
        position: fixed;
        height: 40%;
         width: 40%;
         margin-left: 50%;
         transform: translateX(-70%);
         top:20%;
          img{
          border-radius: 5px;
       }
        #close{
        position: fixed;
         font-size: 2vh; 
         z-index: 1;
         padding: 3%;
         color: var(--basicNegative);
        }
    }
    @media only screen and (max-width: 768px) {
        #big-img{
            margin-left: 50%;
            transform: translateX(-90%);
            top:20%;
            img{
                width: 350px;
                height: auto;

            }
            #close{
                padding: 7%;
            }
        }
        #profil-pic{
           height: 4vh;
        }
        span{
            font-size: 14px;
        }
        .inside-panel{
            height: 7vh;
            #panel-icon-left{
             padding: 2.5% 1% 0.7% 0px;
             #hebrow &{
                padding: 2.5% 0% 0.7% 1%;
             }
         }
         #panel-icon-right{
            padding: 2.5% 0px;
    
         }
        }
}  
}