@keyframes animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.home{
    animation: animate 1.5s ease-in-out;
    margin-top: 15vh;
    #icon{
        color: white;
    }
    .im{
        float: right;
        margin-left: 50%;
        max-width: 50%;
        display: block;
        background-color:var(--background-design);
        #hebrow &{
           float: left;
           margin-right: 50%;
           margin-left: 0%;
           text-align: right;
        }
    }
    p{
        padding: 1%;
        margin: 0.7%;
        text-align: left;
        border-radius: 6px;
        // opacity: 0.9;
    }
    .project{
        float: right;
        margin: 5% 3% 0% 3%;
        width: 300px;
        height: 350px;
        border-radius: 6px;
        border: 1px solid var(--background-design);
        padding: 0.5%;
        box-sizing: initial;
        padding-top: 2% ;
        p{
            text-align: center;
           
        }    
        .title{
            font-weight: bold;
            font-size: large;
           }
    }
    .project:hover{
        background-color: var(--background-elements);
    }
    .project-img{
        border-radius: 6px;
        height: 200px;
        width: 200px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5%;
    }
    .view-more{
        float: right;
        margin-right: 44%;
        margin-top: 5%;
    }
    .tec-img{
        width: 85px;
        height: 85px;
        border-radius: 6px;
        margin-left: 1%;
        margin-top: 2%;
        border: 2px solid var(--background-design);
        
    }
    #tec-div{
        width: 100%;
        align-items: center;
        display: inline-block;
    }
    @media only screen and (max-width: 768px) {
        margin-top: 0vh;
        .im{
            margin-left: 30%;
            max-width: 70%;
            padding: 3%;
            width: 75%;
        }
        #first-im{
            width: 60%;
        }
        .projects{
        width: 80%;
        height: 280px;
         margin: 3% 12%;
        }
        .tec-img{
            width: 50px;
            height: 50px; 
           border: 1px solid var(--background-design);   
        }
   }
}