@keyframes animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.about{
    animation: animate 1.5s ease-in-out;
    background-color: var(--basic);
    .interviewer{
        float: left;
        max-width: 40%;
        margin-right: 60%;
        background-color: var(--background-elements);
        margin-bottom: 3%;
    }
    .im{
        float: right;
        margin-left: 50%;
        max-width: 50%;
        display: block;
        background-color:var(--background-design);
    }
    p{
        padding: 1%;
        margin: 0.7%;
        text-align: left;
        border-radius: 6px;
        // opacity: 0.9;
    }
    @media only screen and (max-width: 768px) {
     .im{
      margin-left: 30%;
      max-width: 70%;
      padding: 3%;
     }
     .interviewer{
      max-width: 70%;
      margin-right: 30%;
  }
}
}