.conect{
    #icon{
        color: var(--basicNegative);
        padding: 1% 0.5% 1% 3%;
        border-radius: 4px;
        font-size: 3vh;
    }
    div{
        display: inline;
        
    }
    @media only screen and (max-width: 768px) {
      #icon{ 
          padding:0px;
          font-size: small;
      }
      span{
          font-size: small;
      }
      div{
        display: block;
      }
    }
}