
.darkApp{
--basic:black;
--basicNegative:white;
 --background-elements: rgb(37, 37, 37);
 --background-design:rgb(47, 93, 77);
 --orenge:rgb(255, 185, 93);
 --green:rgb(125, 255, 106);
 --blue:rgb(108, 127, 255);
 --red:rgb(255, 101, 101);
 --pink:rgb(252, 120, 212);

 padding:4vh 10% 4vh;
 background-color: var(--basic);
 color: var(--basicNegative);

hr{
    border-top: 0px solid var(--basicNegative);
}
i{
    color:var(--basicNegative);
}
}


 .lightApp{
--basic:white;
--basicNegative:black;
 --background-elements: rgb(223, 223, 223);
 --background-design:rgb(135, 248, 209);
 --orenge:rgb(255, 185, 93);
 --green:rgb(125, 255, 106);
 --blue:rgb(108, 127, 255);
 --red:rgb(255, 101, 101);
 --pink:rgb(252, 120, 212);



 padding:4vh 10% 4vh;
 background-color: var(--basic);
 color: var(--basicNegative);
hr{
    border-top: 0px solid var(--basicNegative);
} 
i{
    color:var(--basicNegative);
}
 }
.viewCode{
    border-radius: 4px;
    border: 0px;
    background-color: var(--background-design);
    opacity: 0.7;
    color: var(--basicNegative);
    padding: 1%;
    margin: 5% 0%;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 20%;
    font-size: medium;
}
.viewCode:hover{
 background-color: var(--background-elements);  
}


@media only screen and (max-width: 768px) {
    .darkApp{
      padding: 4vh 3%;
    }
    .lightApp{
        padding: 4vh 3%;
    }
    .viewCode{
        width: 30%;
        padding: 3%;
        margin: 10% 0%;
       margin-left: 50%;
       transform: translateX(-50%);
    }
}
